.themenus-nav {
	width:940px; /*760*/
    height:210px;
    position:relative;
    top:80px;
    left:-50px; /*60px*/
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}
.item{
    position:relative;
    float:right;
    width:150px;
    margin:0px 5px;
    height:150px;
    cursor:pointer;
    overflow:hidden;
}

.link{
    left:2px;
    top:2px;
    position:absolute;
    width:123px;
    height:123px;
}

.icon_lunch{
    /*background:transparent url(../images/lunch-icon.png) no-repeat top left;*/
}
.icon_dinner{
    /*background:transparent url(../images/dinner-icon.png) no-repeat top left;*/
}
.icon_set{
    /*background:transparent url(../images/set-menu-icon.png) no-repeat top left;*/
}
.icon_hors{
   /* background:transparent url(../images/hors-icon.png) no-repeat top left;*/
}
.item_content{
    position:absolute;
    height:150px;
    width:270px;
    overflow:hidden;
    left:152px;
    top:7px;
    display:none;
}
.item_content h2{
    color:#aaa;
    background-color:transparent;
    font-size:14px;
}
.item_content ul {
	position:relative;
	margin:30px 0 0;
	padding:0;
}
.item_content li {
	list-style:none;
}
.item_content a{
    background-color:transparent;
    margin-right:7px;
    margin-top:3px;
	margin-left:0;
    color:#5c3a24;
    text-decoration:none;
    font-size:14px;
	font-weight:bold;
	float:none;
}
.item_content a:hover{
    color:#212121;
	margin-left:0;
}
.item_content p {
    background-color:transparent;
    display:none;
}
.spacer {
	margin-bottom:90px;
}