/* Characters Fine Dining: Override*/

/*#container {
	position: absolute;
	width: 100%;
	height: 100%;
}*/

body { background: #212121; padding:13px; margin: 0; width: 100%; height: 100%;} /* remove height and width if you any issues surface */
body.ui-mobile-viewport { padding: 0; }
body, input, textarea, select, button { font-family: Helvetica, Arial, san-serif; }
.ui-mobile .type-home .ui-content { margin: 0; background: #2b2d32 url('../images/vertical_cloth.png') repeat; padding:0;}
.ui-mobile .type-gallery .ui-content { margin: 0; background: #2b2d32 url('../images/vertical_cloth.png') repeat; padding:10px 15px 0px;}
.ui-mobile .type-bar .ui-content { margin: 0; background: #2b2d32 url('../images/vertical_cloth.png') repeat; padding:10px 15px 0px;}
.ui-mobile .type-menus .ui-content { margin: 0; background: #2b2d32 url('../images/vertical_cloth.png') repeat; padding:10px 15px 0px;}
.ui-mobile .type-rooms .ui-content { margin: 0; background: #2b2d32 url('../images/vertical_cloth.png') repeat; padding:10px 15px 0px;}
.ui-mobile #cfd-homeheader { padding: 40px 10px 0; text-align: center;  margin: 0 auto; background: #2b2d32 url('../images/header-bg.png') repeat-y;}
.ui-mobile #cfd-homeheader .cfd-logo { margin: 0 0 ; }
.ui-mobile #cfd-homeheader p { margin: .3em 0 0; line-height: 1.3; font-size: .9em; font-weight: bold; color: #666; }

.ui-popup-screen.in {
	opacity: 0.9;
	filter: Alpha(Opacity=90);
}

.desktop a {
	font-weight:800 !important;
	font-size:.75em !important;
	text-transform:uppercase;
	color:#212121 !important;
	padding:2px 6px 1px;
	text-shadow:none;
	background:#898989 !important;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	-moz-border-radius:.3em;
}
.desktop a:hover {
	background:#fff !important;
}
.desktop p {
	text-align:center;
	font-weight:800 !important;
}

.type-home .ui-content .cfd-version {
	display: block;
	position: absolute;
	width: 96px;
	border: solid #fff;
	border-width: 2px 1px;
	padding: .25em 2.25em;
	margin: 0 15px 0 0;
	right: 0;
	top: -2px;
	background: #f7cf57;
	color: #000;
	font-size: .8em;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 1px 1px #fff;
	z-index: 9;
	-webkit-transform: rotate(45deg) translate(4.8em,-1em);
	-moz-transform: rotate(45deg) translate(4.8em,-1em);
	-ms-transform: rotate(45deg) translate(4.8em,-1em);
	-o-transform: rotate(45deg) translate(4.8em,-1em);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.40);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.40);
	-o-box-shadow: 0 0 6px rgba(0,0,0,.40);
	box-shadow: 0 0 6px rgba(0,0,0,.40);
}
.type-home .ui-content .cfd-version b {
	color: #a21412;
	font-weight: bold;
}
.ui-content.reserve-header {
	padding:0;
	margin:0;
}
.reserve-header {
	margin:-1px auto 0;
	width:275px;
	height:114px;
	background:url('../images/reservebgsm.png') no-repeat;
	position: relative;
	z-index: 5000;
}

.reserve-header p {
	text-align:center;
	text-shadow:none;
	color:#fff;
	padding-top:5px;
	margin:0;
}

.reserve-header .call-action {
	font-weight:normal;
	font-size:.57em;
	letter-spacing:.12em;
}

.reserve-header .call-number {
	font-weight:bold;
	font-size:1.18em;
	border:0;
	text-decoration:none;
	color:#fff;
}

.ui-content3.slider {
	position:relative;
	z-index:3000;
	margin:-30px auto 0;
	padding:0;
}

/* TOP NAV */
.chr-topnav {
	position:relative;
	background:transparent;
	overflow:hidden;
	padding:0 15px 0 0;
	margin:0;
}
.chr-topnav li {
	position:relative;
	float:right;
	margin:0;
	padding:15px 0 0 15px;
}

.chr-topnav li a {
	text-indent:9999px;
}

.chr-top-menu {
	padding-top:5px;
}
	
/* #TOP NAV */

/* MAP */
#popupMap h2 {
	font-size:.7em;
	text-transform:uppercase;
	font-weight:600;
	color:#212121;
	margin-top:5px;
	padding-left:5px;
	text-align:left;
}

#popupMap p {
	font-size:.65em;
	font-weight:400;
	padding-bottom:6px;
	padding-left:5px;
	color:#fff;
}

#popupMap  {
	background:#787878;
	border:0;
	border-radius:.2em;
	-webkit-border-radius:.2em;
	-moz-border-radius:.2em;
	text-shadow:none;
}

#popupMap a  {
	color:#fff;
}

/* #MAP */

/* NAVIGATION POPUP */
.navi .ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit {
	color:#fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: .7em;
}
.navi .ui-btn-hover-a a.ui-link-inherit {
	color: #212121;
	font-weight: 500;
	font-size:.7em;
	text-transform:uppercase;
}

.navi .ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	padding: 1.2em 1em;
	display: block;
}

.navi .ui-listview-inset .ui-li {
	border-right-width: 0;
	border-left-width: 0;
}

.navi .ui-li, .navi .ui-li.ui-field-contain {
	display: block;
	margin: 0 auto 20px 0;
	position: relative;
	overflow: visible;
	text-align: left;
	border-width: 0;
	border-top-width: 0;
	text-transform:uppercase;
	border-radius:.2em!important;
}
.ui-body-b, .ui-overlay-b #popupMenu {
	border: 0px solid #999;
	background: #212121 url('../images/modal-bg.jpg') repeat;
	color: #222;
	text-shadow: none;
	font-weight: normal;
	padding: 30px 30px 20px;
	border-radius:.4em!important;
}

.ui-popup.ui-content, .ui-popup .ui-content  {
	overflow: visible;
	background: #000 url('../images/modal-bg.jpg') repeat !important;
	border-radius:.4em!important;
	padding: 20px 15px 10px;
}

.ui-corner-top {
	-moz-border-radius-topleft: .1em;
	-webkit-border-top-left-radius: .1em;
	border-top-left-radius: .1em;
	-moz-border-radius-topright: .1em;
	-webkit-border-top-right-radius: .1em;
	border-top-right-radius: .1em;
}
.ui-corner-bottom {
	-moz-border-radius-bottomleft: .1em;
	-webkit-border-bottom-left-radius: .1em;
	border-bottom-left-radius: .1em;
	-moz-border-radius-topright: .1em;
	-webkit-border-bottom-right-radius: .1em;
	border-bottom-right-radius: .1em;
}

/* NAVIGATION POPUP */

/* GENERAL */
a {
	color:#fff;
	text-decoration:none;
	border:0;
}

.chr-topnav.ui-btn-up-c {
	background:none;
}

.type-home .ui-link {
	color:#fff;
}

.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
	font-family: Helvetica,Arial,sans-serif;
	text-decoration: none;
	border:0;
}

.ui-li, .ui-li.ui-field-contain {
	display: block;
	margin: 0 auto 18px 0;
	position: relative;
	overflow: visible;
	text-align: left;
	border-width: 0;
	border-top-width: 0;
}

.nav-chrmob .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-chrmob .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#locator .ui-icon { background:  url('../images/locator.png') 50% 50% no-repeat; background-size: 17px 24px; }
#email .ui-icon { background:  url('../images/mail.png') 50% 50% no-repeat; background-size: 24px 16px;  }
#opentable .ui-icon { background:  url('../images/ot-one.png') 50% 50% no-repeat;  background-size: 24px 22px; }
#facebook .ui-icon { background:  url('../images/facebook.png') 50% 50% no-repeat;  background-size: 24px 24px; }

.ui-corner-all {
	-moz-border-radius: .0em;
	-webkit-border-radius: .0em;
	border-radius: .0em;
}

.mainHeader {
	text-transform:uppercase;
	font-weight:thin;
	color:#999;
	text-shadow:none;
	margin: 20px 0 0 30px;
	font-family: Helvetica, Arial, sans-serif;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	padding-top:3px;
}

@media (orientation: portrait) {
	.mainHeader {
	text-transform:uppercase;
	font-weight:thin;
	color:#999;
	text-shadow:none;
	margin: 20px 0 0 30px;
	font-family: Helvetica, Arial, sans-serif;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	padding-top:3px;
	font-size:.8em;
}

	.mainHeader.pullup {
	text-transform:uppercase;
	font-weight:thin;
	color:#999;
	text-shadow:none;
	margin: 10px 0 0 30px;

}
}

.type-home .mainHeader {
	text-transform:uppercase;
	font-weight:thin;
	color:#999;
	text-shadow:none;
	margin: 20px 0 0 30px;
	font-family: Helvetica, Arial, sans-serif;
}
.barHeader {
	text-transform:uppercase;
	font-weight:thin;
	color:#999;
	text-shadow:none;
	margin: 16px 0 0 30px;
	font-family: Helvetica, Arial, sans-serif;
}
.altHeader {
	text-transform:uppercase;
	font-weight:500;
	color:#454545;
	text-shadow:none;
	margin: 1px 0 0 10px;
	font-family: Helvetica, Arial, sans-serif;
	font-size:.8em;
}
.descr {
	text-transform:uppercase;
	font-weight:normal;
	color:#999;
	text-shadow:none;
	margin-left: 30px;
	font-size:.55em;
	text-shadow:0;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	padding-top:3px;
}
.menu-pop-descr {
	text-transform:uppercase;
	font-weight:800;
	color:#5c3a24;
	text-shadow:none;
	margin-left: 0 !important;
	font-size:.9em;
	text-shadow:0;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: normal;
	padding:20px 0 0;
	text-align:center;
}
.menuWrapper .ui-li, .ui-li.ui-field-contain {
	display: block;
	margin: 0 auto 25px 0;
	position: relative;
	overflow: visible;
	text-align: left;
	border-width: 0;
	border-top-width: 0;
	border-radius: .2em!important;
}
.menuWrapper .ui-corner-top {
	/*background:#000;*/
	-moz-border-radius-topleft: .0em;
	-webkit-border-top-left-radius: .0em;
	border-top-left-radius: .0em;
	-moz-border-radius-topright: .0em;
	-webkit-border-top-right-radius: .0em;
	border-top-right-radius: .0em;
}

.menuWrapper .ui-corner-bottom {
	/*background:#000;*/
	-moz-border-radius-bottomleft: .0em;
	-webkit-border-bottom-left-radius: .0em;
	border-bottom-left-radius: .0em;
	-moz-border-radius-topright: .0em;
	-webkit-border-bottom-right-radius: .0em;
	border-bottom-right-radius: .0em;
}

.menuWrapper .ui-li.ui-btn {
	margin:0;
	background:url('../images/dark.png') repeat;
}

.nav-chrmob .ui-btn-inner {
	border-top: 0 solid #fff;
	border-color: rgba(255,255,255,.3);
	background:url('../images/dark.png') repeat;
}

.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
	font-family: Helvetica,Arial,sans-serif;
	text-decoration: none;
	background: rgba(0,0,0,0.3);
	border: 0px solid #111;
	font-weight:thin;
	text-shadow: none;
}

.ui-btn-up-a {
	border: 0px solid #111;
	background:url('../images/footer-bg.png') repeat-x;
	/*background: rgba(0,0,0,0.6);*/
	font-weight: thin;
	color: #999;
	text-shadow: none;
}
.ui-icon-shadow {
	-moz-box-shadow: 0 0px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: 0 0px 0 rgba(255,255,255,.4);
	box-shadow: 0 0px 0 rgba(255,255,255,.4);
}

.ui-shadow {
	-moz-box-shadow: 0 0px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: 0 0px 0 rgba(255,255,255,.4);
	box-shadow: 0 0px 0 rgba(255,255,255,.4);
}

.ui-content .ui-listview-inset {
	margin: 1em 0;
	/*padding: 15px;*/
	padding: 15px;
}

.ui-btn-corner-all {
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
}

.ui-btn-inner {
	border-top: 0px solid #fff;
	border-color: rgba(255,255,255,.3);
}

.type-bar .ui-popup.ui-content, .ui-popup .ui-content {
	overflow: visible;
	background:#fff;
}
.type-bar p {
	text-shadow:none;
	font-size:.7em;
}
.type-bar h3 {
	text-shadow:none;
	font-size:.9em;
}
/* #GENERAL */

/* MENUS PAGES */
.menuspage {
	background: url('../images/modal-bg.jpg') repeat !important;
	color:#555;
	text-shadow:none;
}
.menuspage .copyright {
	color:#555;
}
.menuspage h1 {
	text-align:center;
	font-weight:thin;
	text-transform:uppercase;
	font-size:.8em;
	margin-top:35px;
}
.menuspage h2 {
	text-align:center;
	font-weight:thin;
	text-transform:uppercase;
	font-size:.7em;
}
.menu-detail {
	font-weight:thin;
	text-align:center;
	padding:0;
	margin:0;
	font-size:.65em;
}
.menu-price {
	text-align:center;
	font-weight:bold;
	font-style:oblique;
	padding:0;
	margin:0;
	font-size:.6em;
}
/* #MENUS PAGES */

/* BAR */
.barslide {
	max-width: 940px;
	width: 100%;
	display: block;
	margin: 5px auto 15px;
	border-radius:.3em;
	box-shadow:0 0 10px rgba(0,0,0,.6);
}

.closebutton {
	float:right;
}

.type-bar .ui-btn-text {
	text-shadow:none;
	text-transform: uppercase;
	font-size:.85em;
}
/* #BAR */

.footer-docs {
	padding: 5px 0;
	clear:both;
	color:#666;
}
.footer-docs p {
	font-weight: normal;
	font-size: .9em;
}
.ui-mobile-viewport .footer-docs p {
	margin: .5em 15px;	
}
.ui-mobile-viewport .footer-docs p.cfd-version {
	font-weight: bold;
}
@media all and (min-width:650px) {
	.ui-mobile-viewport .footer-docs {
		overflow: hidden;		
	}
	.ui-mobile-viewport .footer-docs p {
		margin: 1em 15px;
		float: left;		
	}
	.ui-mobile-viewport .footer-docs p.cfd-version {
		float: right;
		font-weight: normal;
	}
}

h2 { margin:1.2em 0 .4em 0; }
p code { font-size:1.2em; font-weight:bold; } 
h4 code {font-size:1.2em; font-weight:bold; }

dt { font-weight: bold; margin: 2em 0 .5em; }
dt code, dd code { font-size:1.3em; line-height:150%; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
strong { font-weight: bold; }

#cfd-homeheader img { width: 159px; height: 75px; margin-top:-30px; }
img { max-width: 100%; }

/* fluid images moved from jquery.mobile.core.css*/
.ui-mobile img {
	max-width: 100%;
}

.ui-header .cfd-home { top: 0; }
nav { margin: 0; }

p.intro {
	font-size: .96em;
	line-height: 1.3;
	border-top: 1px solid #75ae18;
	border-bottom: 0;
	background: none;
	margin: 1.5em 0;
	padding: 1.5em 15px 0;
}
p.intro strong {
	color:  #558e08;
}

.type-interior .content-secondary {
	border-right: 0;
	border-left: 0;
	margin: 10px -15px 0;
	background: #fff;
	border-top: 1px solid #ccc;
}
.type-home .ui-content {
	margin-top: 5px;
	overflow: hidden;
	position: relative;
}
.type-interior .ui-content {
	padding-bottom: 0;
}
.content-secondary .ui-collapsible {
	padding: 10px 15px;
}
.content-secondary .ui-collapsible-inset {
	margin: 0;
}
.content-secondary .ui-collapsible-content {
	padding: 0;
	background: none;
}
.content-secondary .ui-listview {
	margin: 0;
}
/* new API additions */

dt {  
	margin: 35px 0 15px 0; 
	background-color:#ddd; 
	font-weight:normal;
}
dt code { 
	display:inline-block; 
	font-weight:bold;
	color:#56A00E; 
	padding:3px 7px; 
	margin-right:10px; 
	background-color:#fff; 
}
dd { 
	margin-bottom:10px; 
}
dd .default { font-weight:bold; }
dd pre { 
	margin:0 0 0 0; 
}
dd code { font-weight: normal; }
dd pre code { 
	margin:0; 
	border:none; 
	font-weight:normal; 
	font-size:100%; 
	background-color:transparent; 
}
dd h4 { margin:15px 0 0 0; }
		
.localnav {
	margin:0 0 20px 0;
}
.ui-mobile-viewport .localnav li {
	float:left;
}
.localnav .ui-btn-inner { 
	padding: .6em 10px; 
	font-size:80%; 
}

/* custom dialog for the photos sharing */
.ui-dialog.dialog-actionsheet .ui-dialog-contain {
	margin-top: 0;
}

/* popup examples */
.type-interior .ui-popup-container .ui-content { padding: 15px !important; }

/* F bar theme - just for the docs overview headers */
.ui-bar-f {
	border: 1px solid #56A00E;
	background: 			#74b042;
	color: 					#fff;
	font-weight: bold;
	text-shadow: 0 1px 1px #335413;	
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
	background-image:     -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
	background-image:      -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
	background-image:         linear-gradient(#74b042, #56A00E);		
}
.ui-bar-f, 
.ui-bar-f input, 
.ui-bar-f select, 
.ui-bar-f textarea, 
.ui-bar-f button {
	font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}

.ui-bar-f,
.ui-bar-f .ui-link-inherit {
	color: 					#fff;
}
.ui-bar-f .ui-link {
	color: 					#fff;
	font-weight: bold;
}
.ui-btn-up-f {
	border: 1px solid 		#3B6F07;
	background: 			#56A00E;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
	background-image:     -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
	background-image:      -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
	background-image:         linear-gradient(#74b042, #56A00E);
}
.ui-btn-up-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-hover-f {
	border: 1px solid 		#3B6F07;
	background: 			#6EBC1F;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8FC963), to(#6EBC1F)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#8FC963, #6EBC1F); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#8FC963, #6EBC1F); /* FF3.6 */
	background-image:     -ms-linear-gradient(#8FC963, #6EBC1F); /* IE10 */
	background-image:      -o-linear-gradient(#8FC963, #6EBC1F); /* Opera 11.10+ */
	background-image:         linear-gradient(#8FC963, #6EBC1F);
}
.ui-btn-hover-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-down-f {
	border: 1px solid 		#3B6F07;
	background: 			#3d3d3d;
	font-weight: bold;
	color: 					#fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#56A00E), to(#64A234)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#56A00E, #64A234); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(#56A00E, #64A234); /* FF3.6 */
	background-image:     -ms-linear-gradient(#56A00E, #64A234); /* IE10 */
	background-image:      -o-linear-gradient(#56A00E, #64A234); /* Opera 11.10+ */
	background-image:         linear-gradient(#56A00E, #64A234);
}
.ui-btn-down-f a.ui-link-inherit {
	color: 					#fff;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}


/* docs site layout */

@media all and (min-width: 650px){
	
	.type-home .ui-content {
		margin-top: 5px;
	}
	.ui-mobile #cfd-homeheader {
		max-width: 340px;
	}
	p.intro {
		margin: 2em 0;
	}
	.type-home .ui-content,
	.type-interior > .ui-content {
		padding: 0;
	}
	.type-interior > .ui-content {
		overflow: hidden;
	}
	.content-secondary {
		text-align: left;
		float: left;
		width: 45%;
	}
	.content-secondary,
	.type-interior .content-secondary {
		margin: 30px 0 20px 2%;
		padding: 20px 4% 0 0;
		background: none;
		border-top: none;
		position: relative;
	}
	.type-interior .content-secondary::after {
		content: "";
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		height: 1px;
		width: 1px;
		margin-bottom: -9999px;
		padding-bottom: 9999px;
		background: #bbb;
	}
	.type-index .content-secondary {
		padding: 0;
	}
	.content-secondary .ui-collapsible {
		margin: 0;
		padding: 0;
	}
	.content-secondary .ui-collapsible-content {
		border-left: none;
		border-right: none;
	}
	.type-index .content-secondary .ui-listview {
		margin: 0;
	}
	.ui-mobile #cfd-homeheader {
		padding: 0;
	}
	.content-primary {
		width: 45%;
		float: right;
		margin-top: 30px;
		margin-right: 1%;
		padding-right: 1%;
	}
	.content-primary ul:first-child {
		margin-top: 0;
	}
	/* collapsible non-inset example */
	.content-primary .ui-collapsible-content ul:first-child {
		margin-top: -10px;
	}
	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}
	.type-interior .content-primary {
		padding: 1.5em 6% 3em 0;
		margin: 0;
	}
	/* fix up the collapsibles - expanded on desktop */
	.content-secondary .ui-collapsible-inset {
		margin-bottom: -1px;
	}
	.content-secondary .ui-collapsible-heading {
		display: none;
	}
	.content-secondary .ui-collapsible-contain {
		margin:0;
	}
	.content-secondary .ui-collapsible-content {
		display: block;
		margin: 0;
		padding: 0;
	}
	.content-secondary .ui-collapsible-content,
	.content-secondary .ui-collapsible-content > .ui-listview .ui-li-last {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.type-interior  .content-secondary .ui-li-divider {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.type-interior .content-secondary {
		margin: 0;
		padding: 0;
	}
	
}
@media all and (min-width: 750px){
	.type-home .ui-content {
		background-position: 39%;
	}
	.content-secondary {
		width: 34%;
	}
	.content-primary {
		width: 56%;
		padding-right: 1%;
	}
}

@media all and (min-width: 1200px){
	.type-home .ui-content{
		background-position: 38.5%;
	}
	.content-secondary {
		width: 30%;
		padding-right:6%;
		margin: 30px 0 20px 5%;
	}
	.type-interior .content-secondary {
		margin: 0;
		padding: 0;
	}
	.content-primary {
		width: 50%;
		margin-right: 5%;
		padding-right: 3%;
	}
	.type-interior .content-primary {
		width: 60%;
	}
}

/* reset for popup examples */
.type-interior .ui-popup.ui-content,
.type-interior .ui-popup .ui-content {
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: visible;
}

/* tables documenting enum-type settings */
.enum-value {
	vertical-align: top;
	white-space: nowrap;
}

/* Navbar examples */
.content-primary > .ui-header,
.content-primary > .ui-footer {
	overflow: hidden;
}

/* list styles */
ul { margin:0; padding-left:0; }
ul li { list-style:none; padding:.7em 0; margin:0; border-bottom:0px solid #e3e3e3; }
ul ul li { border: none;}

dl dd ul { padding-left: 40px; }
dl dd ul li { list-style: disc; }
dl dd ul li li { list-style: circle; }
dl dd ul li li li { list-style: square; }
dl dd ul li { border: none; }

.ui-mobile-viewport .localnav li {
	border: none;	
}

/* FOOTER AREA */
.copyright {
	text-align:center;
	font-size:.7em;
	color:#fff;
	text-shadow:none;
}
.footer-icons {
	background:#ff3300;
	overflow:hidden;
	clear:both; /* this should not be necessary when complete */
}
ul.footer-left {
	float:left;
	margin-left:1em;
}
ul.footer-left li {
	display:inline;
}
ul.footer-left .location a {
	background: url('../images/locator.png') no-repeat;
	background-size: 43px 68px;
}
ul.footer-left .facebook a {
	background: url('../images/facebook.png') no-repeat;
	background-size: 63px 63px;
}
ul.footer-right {
	float:right;
	margin-right:1em;
}
ul.footer-right li {
	display:inline;
}
ul.footer-right .opentable a {
	background: url('../images/OpenTable.png') no-repeat;
	background-size: 174px 90px;
	height:90px;
}

/* SUBSCRIBE */
.subscribe {
	margin:0 auto;
	background: url('../images/modal-bg.jpg') repeat;
	padding:10px;
	border-radius:.3em;
	-webkit-border-radius:.3em;
	-moz-border-radius:.3em;
	border:0;
	color:#5c3a24;
}
.subscribe p {
	color:#5c3a24;
	font-size:14px;
	text-shadow: none;
}
.signupLabel {
	display: block;
	font-size: 16px;
	font-weight: bold;
	color:#5c3a24;
	text-align:center;
}
#jyjidud-jyjidud {
	display: block;
	padding: 8px 0;
	margin: 0 auto;
	text-indent: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius :4px;
	-webkit-box-shadow: none;
	-moz-border-shadow: none;
	-box-shadow: none;
	color:#5c3a24; 
	background: #c5c5c5;
	text-shadow: none;
	border-color:#5c3a24;
}
.submitButton:hover {
	background-color: #5c3a24;
}
input.submitButton {
	border: 0;
	font-size: 16px;
	line-height: 1.375em;
	padding: .3125em 2em;
	color:#5c3a24;
}

